// TIL ANDRE ENHEDER END iphoneSE, fra 413 px

@font-face {
  font-family: 'deco';
  src: url('/assets/font/RousseauDeco.ttf') format('truetype');
}

// Variabler
$black: black;
$light: white;
$note: #C9F80F;
$blue: rgb(17, 123, 162);
@mixin bcgImg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


// UNIVERSALT
* {
  font-family: 'deco', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

body {
  overflow-x: hidden;
  background-color: $black;
  color: $light;
}

// NAVIGATION
.nav-main {
  .mobile-menu {
    margin-top: 1rem;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    padding: 1rem;
    background-color: $note;
    width: 100%;
    z-index: 998;
    li a {
      font-size: 4vh;
      color: $black;
      padding: 0;
      display: block;
      &:hover {
        background-color: $light;
      }
    }
  }
    .bar {
      width: 6vh;
      height: 1vh;
      background-color: $note;
      margin: 6px 0;
      transition: 0.4s;
    }
    &.open {
      .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: $black;
      }
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
        background-color: $black;
      }
    }
    ul {
    display: none;
    }
    .burger {
    padding: 1rem;
    display: block;
    position: fixed;
    top: 0;
    right: 0.7rem;
    z-index: 999;
    &.open~.mobile-menu {
      display: block;
    }
  }
}

// header
header {
  background-image: url("../img/pexels-mart-production-7577910.jpg");
  @include bcgImg;
  width: 100vw;
  height: 60vh;
  hgroup {
    padding: 9rem 4rem;
    display: flex;
    justify-content: center;
    min-width: 100px;
    img {
      padding: 0.2rem;
      width: 12vh;
      height: 12vh;
      float: right;
      background-color: $note;
      border-radius: 15rem;
    }
    .heartbeat {
      -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
      animation: heartbeat 1.5s ease-in-out infinite both;
    }
    @-webkit-keyframes heartbeat {
      from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }

      10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }

      17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }

      33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }

      45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    }

    @keyframes heartbeat {
      from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }

      33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }

      45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    }
  }
    h1 {
      position: relative;
      margin-top: 1rem;
      padding-left: 1rem;
      font-size: 6vh;
      font-weight: 100;
      line-height: 5vh;
      color: $note;
      @media (min-width: 800px) {
        font-size: 18vh;
        line-height: 15vh;
      }
    }
  .line {
    background-color: $note;
    position: absolute;
    width: 100vw;
    top: 60vh;
    height: 0.1rem;
  }
}

// TOUR baggrund:
.video-container {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .video {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
//tour content
.tour {
  padding-top: 25vh;
  position: absolute;
  top: 39vh;
  left: 0;
  right: 0;
  bottom: 0;
  article {
    background-color: rgba(0, 0, 0, 0.461);
    font-weight: 100;
    padding: 2rem;
    margin: 1rem;
    padding-bottom: 2rem;
    h2 {
      font-weight: 100;
      color: $note;
      font-size: 3rem;
      text-align: left;
      margin-bottom: 2rem;
    }
    li {
      font-weight: 100;
      font-size: 1.5rem;
      text-align: left;
      span {
        color: $blue;
        text-align: right;
      }
    }
    @media (min-width: 700px) {
      h2 {
        font-size: 6vh;
      }
      li {
        line-height: 8vh;
        font-size: 5vh;
      }
    }
  }
}

// ABOUT US
.cards {
  background-color: $note;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  text-align: center;
  position: relative;
  color: $blue;
  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    filter: grayscale(1);
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}

// PHOTOALBUM - section three
.section-three {
  background-image: url("../img/pexels-mart-production-7577910.jpg");
  @include bcgImg;
  position: relative;
  height: 70vh;
  h3 {
    padding: 1rem 1rem 0 1rem;
    color: $note;
    font-size: 4vh;
    text-transform: uppercase;
  }
  button {
    margin-left: 1rem;
  }
  .modal {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    width: 100%;
    background-color: $light;
    height: 40vh;

    main {
      position: absolute;
      background-color: $light;
      position: relative;
      height: 70vh;
      color: #333;
      top: 0;
      width: 100%;
      margin: auto;

      #favorite {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        overflow: hidden;
        .image-container {
          width: 100vw;
          height: 100%;
          overflow: hidden;
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover; 
          }
        } 
      }
      
      #modal_close {
        font-size: 2rem;
        position: absolute;
        right: 3vw;
        top: 0;
        color: $note;
        border-radius: 100px;
        z-index: 9999;

        @media (min-width: 890px) {
          font-size: 6rem;
        }

        .fade {
          animation-name: fade;
          animation-duration: 1.5s;

          @keyframes fade {
            from {
              opacity: .4;
            }

            to {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  #logo {
    width: 100%;
    padding: 1rem;
    display: block;
    width: 50%;
    margin: auto;
  }

  @media (min-width: 550px) {
    h3 {
      font-size: 6vh;

    }

    button {
      text-align: center;
      font-size: 3vh;
      /* Prøv å endre størrelsen direkte her */
    }

  }

  @media (min-width: 1000px) {
    #logo {
      display: block;
      width: 27%;
      margin: auto;
    }

  }
}



// Footer
.footer-main {
  background-color: rgba(0, 0, 0, 0.274);
  height: 40vh;
  color: $light;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 1rem;

  article {
    padding: 1rem;
  }

  .line {
    background-color: $note;
    position: absolute;
    width: 100vw;
    top: -2.7vh;
    height: 0.1rem;
  }

  h3 {
    color: $blue;

    @media (min-width: 700px) {
      font-size: 6vh;
    }
  }

  p {
    font-size: 2rem;

    @media (min-width: 700px) {
      font-size: 3vh;
    }
  }

  button {
    background-color: $note;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem;

    @media (min-width: 700px) {
      font-size: 3vh;
      padding: 2vh;
      margin-top: 2vh;
    }
  }

  input {
    @extend button;
    background-color: $light;
    width: 100%;
    margin-top: 2.5rem;
  }

  .text-error {
    font-size: 0.8rem;
    color: $note;
    line-height: 2rem;
    display: flex;
    justify-content: center;

    @media (min-width: 700px) {
      font-size: 3vh;
      line-height: 8vh;
    }
  }

}